{% extends '_base.html' %} 

{% block title %}ABM Vehículos{% endblock %} 

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">ABM /</span> Vehículos
	</h4>

	<div class="card">
		<h5 class="card-header">
			Listado de vehículos&nbsp;&nbsp;-&nbsp;&nbsp;<a
				href="{% url 'car_add' %}"
				type="button"
				class="btn btn-sm btn-outline-secondary"
			>
				<span class="tf-icons bx bxs-plus-circle"></span>&nbsp; Agregar auto
			</a>
		</h5>

		<div class="table-responsive text-nowrap">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Categoría</th>
						<th>Titulo</th>
						<th>Foto</th>
					</tr>
				</thead>
				<tbody class="table-border-bottom-0">
					{% for car in cars %}
					<tr>
						<td>
							<strong><a href="{% url 'car_change' car.pk %}">{{ car.name }}</a></strong>
						</td>
						<td>{{ car.category }}</td>
						<td>{{ car.title }}</td>
						<td>{{ car.image }}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="4">
							No hay autos registrados por el momento.
							<a href="{% url 'car_add' %}">Agregar auto</a>.
						</td>
					</tr>
					{% endfor %}
				</tbody>
			
			</table>
					  <nav>
						{% if is_paginated %}
							<ul class="pagination justify-content-center mt-2">
								{% if page_obj.has_previous %}
								<li class="page-item prev">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="tf-icon bx bx-chevron-left"></i></a>
								  </li>
								{% endif %}
					
								{% for i in paginator.page_range %}
									<li {% if page_obj.number == i %} class="page-item active" {% endif %}>
										<a class="page-link" href="?page={{i}}">{{ i }}</a>
									</li>
								{% endfor %}
					
								{% if page_obj.has_next %}
									<li class="page-item next"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="tf-icon bx bx-chevron-right"></i></a></li>
								{% endif %}
							</ul>
						{% endif %}
					</nav>
		</div>
	</div>
</div>

{% endblock %}
