{% extends '_base.html' %} 

{% block title %}Descubrí todos los modelos{% endblock %} 

{% block content %}

<h1>Descubrí todos los modelos</h1>

<div class="box-models">
	<div class="header-filter">
		
		<div class="category-filter">
			<button>Filtrar por <i class="fa-solid fa-angle-down"></i></button>
			<div class="filter-options">
				<ul>
					<li><a href="{% url 'car_list' %}">Todos</a></li>
					<li><a href="{% url 'car_list' %}?category=1">Autos</a></li>
					<li><a href="{% url 'car_list' %}?category=2">Pickups y Comerciales</a></li>
					<li><a href="{% url 'car_list' %}?category=3">SUVs y Crossovers</a></li>
				</ul>
			</div>
		</div>

		<div class="order-by">
			<button>Ordenar por <i class="fa-solid fa-angle-down"></i></button>
			<div class="box-options">
			  <ul>
				<li><a href="{% url 'car_list' %}">Nada</a></li>
				<li><a href="{% url 'car_list' %}?order_by=menor_precio">De <b>menor</b> a <b>mayor</b> precio</a></li>
				<li><a href="{% url 'car_list' %}?order_by=mayor_precio">De <b>mayor</b> a <b>menor</b> precio</a></li>
				<li><a href="{% url 'car_list' %}?order_by=mas_viejo">Más <b>nuevo</b> primero</a></li>
				<li><a href="{% url 'car_list' %}?order_by=mas_nuevo">Más <b>viejo</b> primero</a></li>
			  </ul>
			</div>
		  </div>

	</div>
	<div class="models">
		{% if cars %}
		{% for car in cars %}
			<div class="wrapper-model">
				<div class="title-model">{{ car.name }}</div>
				<div class="price-and-year">{{ car.year }} | $ {{ car.price }}</div>
				<div class="img-model-box">
					<img src="{% if car.image %}{{ car.image.url }}{% else %} Sin imagen {% endif%}" width="100"> 
				</div>
				<div class="buttons-box">
					{% if user.is_authenticated %}
						<div class="btn-admin-box">
							<a href="{% url 'car_delete' car.id %}"><button class="btn-adm" style="background: rgb(211, 11, 11)">Borrar</button></a>
							<a href="{% url 'car_change' car.id %}"><button class="btn-adm">Editar</button></a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		{% else %}
			<p>No hay autos cargados en este momento.</p>
		{% endif %}

	</div>
</div>
{% endblock %}
