{% extends '_base.html' %}

{% block content %}

<style>
.container {
    max-width: 1200px;
}

.carousel-cell {
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
}

/* gallery focus */
.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
</style>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    {% if user.is_authenticated %}
    <div class="admin-box" style="text-align: center; margin-bottom: 12px">
        <a href="{% url 'car_change' car.id %}" class="btn btn-primary btn-sm">Editar</a>
        <a href="{% url 'sheet_create' car_id=car.id %}" class="btn btn-secondary btn-sm">Agregar especificación técnica</a>
        <a href="{% url 'slide_create' car_id=car.id %}" class="btn btn-secondary btn-sm">Agregar foto de galería</a>
        <a href="{% url 'car_delete' car.id %}" class="btn btn-danger btn-sm">Borrar</a>
    </div>
    {% endif %}

    <section class="wrapper-sheet">
        <div class="left">
            <img src="{{ car.image.url }}">
        </div>
        <div class="right">
            <div class="name-car">{{ car.name }}</div>
            <div class="title">{{ car.title }}</div>
            <div class="description">{{ car.description }}</div>
        </div>
    </section>

    {% if car.tech_slides.all %}
    <div class="carousel mb-5" data-flickity='{ "cellAlign": "left", "contain": true }'>
        {% for slide in car.tech_slides.all %}
            <div class="carousel-cell">
                <img src="{{ slide.image.url }}" style="width: 301.425px;  height: auto;">
                <p style="font-size: 20px; max-width: 301.425px; margin-top: 10px"><b>{{ slide.heading }}</b></p>
                <p style="font-size: 14px; max-width: 301.425px;">{{ slide.paragraph }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}

    <section class="tech-sheet mt-3">
        {% for sheet in car.tech_sheets.all %}
            <div class="line {% cycle 'right' 'left' as row_css %}">
                {% if row_css == 'right' %}
                    <div class="right">
                        <img src="{{ sheet.image.url }}">
                    </div>
                    <div class="left">
                        <div class="title">{{ sheet.heading }}</div>
                        <div class="description">
                            {{ sheet.paragraph }}
                        </div>
                    </div>
                {% else %}
                    <div class="left">
                        <div class="title">{{ sheet.heading }}</div>
                        <div class="description">
                            {{ sheet.paragraph }}
                        </div>
                    </div>
                    <div class="right">
                        <img src="{{ sheet.image.url }}">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>

{% endblock %}